

:root {
  --black-choise:#000814;
  --white-choise:#f7fff7;
 --fisrt-color:#14213d;
 --choise-color:#ffffff;
  --primary-color:#264653;
  --secondary-color:#03045e;
  --third-color:#d62828;
  --fourth-color:#1b4332;
  --fifty-color:#dddf00;
  --clr-black: #222;
  --ff-primary: "font-family: 'Poppins', sans-serif";
    --ff-secondary: "font-family: 'Vollkorn', serif";
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background:var(--fisrt-color);
  color: var(--choise-color);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
Navbar
===============
*/

nav{
  height: 8rem;
  background:#fff;
}
.nav-center{
  max-width:var(--max-width);
  width: 100%;
  margin: 0 auto;
  
}
.nav-header{
  display: flex;
  justify-content: space-between;
  
}
.nav-header img{
  border-top: 0;
  width: 6rem;
  object-fit: cover;
  
}
 .contactText a{
   display: none;
 }
 .text{
   font-size: 1.5rem;
   color: var(--black-choise);
 }
@media (min-width:768px) {
  .contactText a{
    display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color:var(--black-choise);
  letter-spacing: var(--spacing);
  
}
li{
  list-style: none;
}
.text{
  font-size: 2rem;
  font-weight: 400;
  color:var(--third-color);
}
.nav-header img{
  width: 8rem;
  object-fit: cover;
  
}
}


.btn-toggle{
  background: transparent;
  border-color: transparent;
  font-size: 3rem;
  color: var(--black-choise);
  transition: var(--transition);
}
.btn-toggle:hover{
  color: var(--fifty-color);
  cursor: pointer;
  transform: rotate(45deg);
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:var(--choise-color);
  display: grid;
  place-items: center;
  justify-content: center;
  transition: var(--transition);
  transform: translateX(-100%);
  z-index: 7rem;

}
.show-sidebar{
  transform: translate(0);
}
/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:var(--fisrt-color);
  z-index: 2;
  box-shadow: var(--light-shadow);
}
.sidebar-toggle{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--fifty-color);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  margin-right: 1rem;
}
.sidebar-toggle:hover{
  color: var(--black-choise);
  transform: scaleX(1.5);
  cursor: pointer;
}
.nav-links{
  text-align: center;
}
.nav-links a{
  font-family: var(--ff-primary);
  display: block;
  font-size: 2rem;
  color: black;
  text-transform: capitalize;
  padding: .75rem .55rem;
  font-weight: 500;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.nav-links a:hover{
  color: var(--fifty-color);
  
}
.icons-links{
  margin-top: 5rem;
  display: flex;
  
}
.icons-links a{
  margin-left: 1.5rem;
  font-size: 3rem;
  color: var(--fifty-color);
  transition: var(--transition);
  display: block;
 
}
.icons-links a:hover{
  color: var(--clr-black);
  transform: rotateX(45deg);
}

/* header */
.header img{
  display: none;
}
@media (min-width:992px) {
  
.header img{
  display: block;
  margin-top: 5rem;
  height: 600px;
  max-width: 100%;
  
  
}
}



/*
=============== 
Slider
===============
*/

.slider-container {
 border: 5px dashed var(--choise-color);
  width: 80vw;
  margin: 0 auto;
  height: 40vh;
  max-width: 90rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
  z-index: -1;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--third-color);
  color: var(--white-choise);
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
@media (min-width:992px) {
  .slide h1 {
  font-size: 1.5rem;
  color: var(--fourth-color);
  position: absolute;
  font-weight: 800;
  text-transform: capitalize;
  z-index: 2;
}
.slide h1 span{
  color: var(--fifty-color);
}
}




.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}
.prevBtn,
.nextBtn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: var(--fifty-color);
  transition: var(--transition);
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--third-color);
}

@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
  .slide-img{
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}
/* section-center */

.section-product , .retour-product{
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
}
.section-product a , .retour-product a{
  color: var(--white-choise);
  letter-spacing: 0.5rem
}
.section-product a:hover,.retour-product a:hover{
  color: var(--fifty-color);
}


/* single product */
.result{
  max-width: 80vw;
}
.title{
  color: yellow;
}
.product img{
  max-width: 29rem;
  object-fit: cover;
  align-items: center;
  
}
.title{
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--choise-color);
}
.product-info .price{
  font-size: 2rem;
  color: var(--fifty-color);
}
.desc{
  font-size: 1.5rem;
  color: var(--choise-color);
}
@media (min-width:992px) {
  .product img{
  max-width: 60rem;
  height: 30rem;
  object-fit: cover;
  align-items: center;
  
}
}
/* footer */
.footer{
  
  box-shadow: var(--light-shadow);
  margin-top: 3rem;
background: var(--black-choise);
cursor: pointer;

}
.icons-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}
.icons-footer a{
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white-choise);
  transition: var(--transition);
}
.icons-footer a:hover{
  color: var(--fifty-color);
  cursor: pointer;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo{
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--choise-color);
}
.footer-logo span{
  color: var(--fifty-color);
  
}
.footer-reseved{
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
  margin-left: 1rem;
  text-align: center;
}

/* contact */
.form {
  margin-top: 2rem;
  background: var(--fifty-color);
  max-width: 600px;
  padding: 2.5rem 3rem;
  border-radius: var(--radius);
}

.form-control {
  margin-bottom: 1rem;
}
label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: var(--fisrt-color);
  font-size: 1.15rem;
  letter-spacing: var(--spacing);
}
input {
  width: 100%;
  background: var(--choise-color);
  border-color: transparent;
  padding: 0.35rem 0.75rem;
  border-radius: var(--radius);
  font-size: 1.25rem;
}
textarea {
  width: 100%;
  background: var(--fisrt-color);
  border-color: transparent;
  padding: 0.35rem 0.75rem;
  border-radius: var(--radius);
  font-size: 1rem;
}
.submit-btn {
  width: 100%;
  background: var(--fisrt-color);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  border-color: transparent;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
  color: var(--choise-color);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.submit-btn:hover {
  background: var(--clr-black);
}
.alert {
  color: var(--third-color);
  margin-bottom: 0;
  margin-top: 1rem;
}
.success {
  color: var(--fourth-color);
  margin-bottom: 0;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.sending {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--third-color);
  animation: spinner 0.6s linear infinite;
}
